@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply dark:bg-background bg-gray
  }

  input::placeholder {
    @apply text-darkGray dark:text-white
  }
}

.input-wrapper {
  box-shadow: 0 16px 30px -10px rgba(70, 96, 187, 0.198567);
}

input::placeholder {
  font-size: 0.813rem;
}

.user-info {
  grid-template-columns: 2rem 1fr;
}

@media screen and (min-width: 768px) {
  .user-info {
    grid-template-columns: 2rem 1fr 2rem 1fr;
  }
}